# Ignore Jupyter Book build artifacts
_build/
_site/
jupyter_execute/
**/.ipynb_checkpoints

# Ignore Python virtual environments
venv/
.env/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook metadata
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
